<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    <link rel = "stylesheet" href="css/mco.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>
        <%= title %>
    </title>

    <style></style>
</head>
<body>
     <%  if(aUser == "User"){%>
        <%- include('partials/loginheader') -%>
    <% }else if(aUser == "Admin"){%>
        <%- include('partials/adminHeader') -%>
    <% }else if(aUser == "Manager"){%>
        <%- include('partials/managerHeader') -%>
    <% }else{%>
            <%- include('partials/header') -%>
    <%   } %>

    

<!-- homepage -->

    <!-- Special Offers Carousel-->
<div class="carousel-container1">
    <div class="page text-center">
        <h1>SPECIAL OFFERS</h1>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="images/kuyaj.jpg" class="d-block w-100">
                </div>

                <div class="item">
                    <img src="images/gerry.jpg" class="d-block w-100">
                </div>

                <div class="item">
                    <img src="images/max.jpg" class="d-block w-100">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    </div>
</div>

<div class="row">
    <div class="page text-center bg-light">
    <h1>RESTAURANTS</h1>
    <div class="col-sm-4">
        <h3>Kuya J</h3>
        <p>A casual dining restaurant that offers great Filipino gastronomic delights.</p>
        <img src="images/kuyaj.jpg" class="rounded" alt="Performance" width="304" height="236">
        <br>
    </br>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#kuyaj">Click to Know More.</button>
        <div id="kuyaj" class="collapse">
            <a href="/getkuya">Menu Link of Kuya J's Restaurant</a><br>
        </div>
    </div>
    <div class="col-sm-4">
        <h3>Gerry's Grill</h3>
        <p>The perfect place with the perfect menu for every occasion.</p>
        <img src="images/gerry.jpg" class="rounded" alt="Performance" width="304" height="236">
        <br>
    </br>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#gerry">Click to Know More.</button>
        <div id="gerry" class="collapse">
            <a href="/getgerry">Menu Link of Gerry's Grill</a>
        </div>
       
    </div>
    <div class="col-sm-4">
        <h3>Max's Restaurant</h3>
        <p>Well known as "the house that fried chicken built"</p>
        <img src="images/max.jpg" class="rounded" alt="Performance" width="304" height="236">
        <br>
    </br>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#max">Click to Know More.</button>
        <div id="max" class="collapse">
            <a href="/getmax">Menu Link of Max's Restaurant</a>
        </div>
    </div>
    </div>
</div>
</div>
</div>

<%- include('partials/footer') -%>
</body>
</html>
