<!DOCTYPE html>

<html>
<head>

    <title>Your Reservations</title>
    
    <!--  Style Links  -->
    <link rel = "stylesheet" href="css/mco.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <!--Container Nav-->
    <%- include('loginheader') -%>


    <div class = "prof-container page">
      <div class = "info-container">
       <img class = "logo" src="userProfPics/<%= image%>">
        <div class ="details-left">
          <h2> <%= name%> </h2>
          <h4> Phone: <%= phone%> </h4>
          <h4> Username: <%= username%> </h4>
          <h4> Email: <%= email%> </h4>
          <h4> Birthdate: <%= bdate%> </h4>
          <br>
          </div>
          <div class ="details-right">
            
            <a href="/geteditprof" role="button" class="btn btn-warning">Edit</a>

          </div>
        </div>

    </div>
    
    <script src="like.js"></script>

    <%- include('footer') -%>
