<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="images/book-n-eat-logo.jpg">
    <link rel = "stylesheet" href="css/mco.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>
      <%= title %>
    </title>

    <style></style>
</head>
<body>
    <%- include('partials/adminHeader') -%>



<!-- homepage -->


<div class="row page">
    <div class="page text-center bg-light">
                <h1>DASHBOARD</h1>
                <a href ="/accountList" class ="btn btn-danger btn-sm remove">Accounts List</a>


    </div>
    <div class="reservation-status">
    <div class="page text-center bg-light">
            <h2> Manager List </h2>
              <table class="account" id="account">
                <thead>
                  <tr>
                      <th>Name</th>
                      <th>Username</th>
                      <th>Email</th>
                      <th>Phone</th>
                      <th>Restaurant</th>
                      <th>Branch</th>
                      <th>Edit Account</th>

                  </tr>
              </thead>
              <tbody>
                <% managers.forEach(function(managers){ %>
                  <tr>
                    <td><%= managers.name%></td>
                    <td><%= managers.username%></td>
                    <td><%= managers.email%></td>
                    <td><%= managers.phone%></td>

                    <form action="/manageChange" method="post">
                      <input type="hidden" name = "username" id = "username" value = <%= managers.username%> >
                      <td><select name = "restaurant" id = "restaurant" >
                      <!-- if value == "Manager"-->
                      <%  if(managers.restaurantID == 1 || managers.restaurantID == 2){%>
                        <option selected hidden  value = "Gerry's Grill"> Gerry's Grill</option>
                      <%   }else if (managers.restaurantID == 3 || managers.restaurantID == 4) {%>
                        <option selected hidden  value = "Kuya J"> Kuya J</option>
                      <%   }else if (managers.restaurantID == 5 || managers.restaurantID == 6) {%>
                        <option selected hidden value = "Max's Restaurant">Max's Restaurant</option>
                        <%   } %>

                        <option value = "Kuya J">Kuya J</option>
                        <option value = "Gerry's Grill">Gerry's Grill</option>
                        <option value = "Max's Restaurant">Max's Restaurant</option>
                      </select></td>

                      <!-- branch -->
                      <input type="hidden" name = "username" id = "username" value = <%= managers.username%> >
                      <td><select name = "branch" id = "branch" >
                      <!-- if value == "Manager"-->
                     
                      <%  if(managers.restaurantID == 1 || managers.restaurantID == 3 || managers.restaurantID == 5){%>
                        <option selected hidden value = "Manila">Manila</option>
                      <%  }else if(managers.restaurantID == 2 || managers.restaurantID == 4 || managers.restaurantID == 6){%>
                          <option selected hidden value = "Makati">Makati</option>
                        <%   } %>
                          <option value = "Manila">Manila</option>
                          <option value = "Makati">Makati</option>
                      </select></td>
                      <td><button type ="submit" class ="btn btn-danger btn-sm remove">Update</button></td>
                    </form>
                    
                </tr>
                  <% }); %>
                  

                </tbody>
              </table>

              </div>
          
    </div>
    
      
</div>
</div>
</div>



<!-- footer-->
<%- include('partials/footer') -%>

<!-- End of .container -->
<!-- Scripts -->



</body>
</html>
