<!DOCTYPE html>

<html>
<head>

    <title><%= title %></title>
    <link rel="icon" type="image/x-icon" href="images/book-n-eat-logo.jpg">
   
    <!--  Style Links  -->
    <link rel = "stylesheet" href="css/mco.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <!--Container Nav-->
    <%  if(aUser == "User"){%>
        <%- include('partials/loginheader') -%>
    <% }else if(aUser == "Admin"){%>
        <%- include('partials/adminHeader') -%>
    <% }else if(aUser == "Manager"){%>
        <%- include('partials/managerHeader') -%>
    <% }else{%>
            <%- include('partials/header') -%>
    <%   } %>
    <div class="page text-center">
        <div class = "restaurant-container text-white">
            <h2>Refunds and Exchanges</h2>
            <hr class="border border-white border-3 opacity-75">
            <h3> We are sorry for the inconvenient experience.<br>
            </h3>
            <h4> Your comment is important to us.</h4>
            <h4> Every complaint will be checked by our team.</h4>
            <h4> For any complaints, please kindly email book_n_eat_customerservice@gmail.com</h4>
                <img src="images/book-n-eat-logo.jpg" class="about-logo" alt="Performance" width="304" height="236">
                
            <br>
        
        <br>
        <hr class="border border-white border-3 opacity-75">
            <h2 id="details">REFUND DETAILS</h2>
        <hr class="border border-white border-3 opacity-75">
            <br>
            <h4>
                 Tell us your concerns and we will address all of them.<br>
                 All refunds will be returned to the original payment method. <br>
                 Kindly put Book n Eat Eater as the subject. (For Eaters)<br>
                 Kindly put Book n Eat Restaurant as the subject. (For Restaurants) <br>    
            </h4>
            <br>
        </div>
    </div>

    
</div>

<%- include('partials/footer') -%>
</body>
</html>
